# Import latitude and longtitude of each postal code

In [17]:
# geographical coordinates of each postal code
import pandas as pd
import numpy as np
df_ll = pd.read_csv('http://cocl.us/Geospatial_data')

df_ll = df_ll.rename(columns={'Postal Code':'PostalCode'})
df_ll.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [8]:
# Repeat part 1
import requests

url = 'https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=890001695'
webpage = requests.get(url).text

webpage_table = pd.read_html(url)
Canada_code = webpage_table[0]

columns = ['PostalCode','Borough','Neighborhood']
df_Canada = Canada_code.rename(columns={'Postcode':'PostalCode'})
df_Canada.drop(df_Canada[df_Canada['Borough']=='Not assigned'].index,inplace=True)

df = df_Canada.groupby(['PostalCode','Borough'],as_index=False).agg(lambda x: ','.join(x))

mask = df['Neighbourhood'] == "Not assigned"
df.loc[mask,'Neighbourhood'] = df.loc[mask,'Borough']

df.head()

  PostalCode      Borough                         Neighbourhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

In [20]:
# Merge 2 dataframes

Neighbourhood = pd.merge(df,df_ll,on='PostalCode')
Neighbourhood.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476